[submodule "3rd/less-css-mode"]
	path = 3rd/less-css-mode
	url = git@github.com:purcell/less-css-mode.git
[submodule "3rd/helm"]
	path = 3rd/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "3rd/helm-ls-git"]
	path="3rd/helm-ls-git"
	url = git://github.com/emacs-helm/helm-ls-git.git
[submodule "3rd/smartparens"]
	path = 3rd/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "3rd/dash"]
	path = 3rd/dash
	url = https://github.com/magnars/dash.el.git
[submodule "3rd/rust-mode"]
	path = 3rd/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "3rd/magit"]
	path = 3rd/magit
	url = git://github.com/magit/magit.git
[submodule "3rd/xah-fly-keys"]
	path = 3rd/xah-fly-keys
	url = git@github.com:xahlee/xah-fly-keys.git
[submodule "3rd/ergoemacs-mode"]
	path = 3rd/ergoemacs-mode
	url = https://github.com/ergoemacs/ergoemacs-mode.git
